<nav class="navbar" >
    <span class="navbar-brand mb-0 h1" >GlowSpark</span>
    <a class="home" >Home <span class="sr-only"></span></a>
    <a class="Report" >Report <span class="sr-only"></span></a>
    <a class="perscription" href="#">Logout<span class="sr-only"></span></a>
</nav>

<button class="container1">
    <div class="detail">
        <button class="image" mat-fab>
            <img class = "profile" src="../../assets/profile1.png">
        </button>
    </div>
    <pre class="name" >
        ABC
        8 Years
        Shop Name 
    </pre>
</button>
<button class="container2">
    <div class="detail">
        <button class="image" mat-fab>
            <img class = "profile" src="../../assets/profile1.png">
        </button>
    </div>
    <pre class="name">
          XYZ
        3 Years
       Shop Name 
    </pre>
</button>
<button class="container3">
    <div class="detail">
        <button class="image" mat-fab>
            <img class = "profile" src="../../assets/profile1.png">
        </button>
    </div>
    <pre class="name">
          DEF
        5 Years
       Shop Name 
    </pre>
</button>
<button class="container4">
    <div class="detail">
        <button class="image" mat-fab>
            <img class = "profile" src="../../assets/profile1.png">
        </button>
    </div>
    <pre class="name">
          UVW
        1 Year
       Shop Name 
    </pre>
</button>
<button class="container5">
    <div class="detail">
        <button class="image" mat-fab>
            <img class = "profile" src="../../assets/profile1.png">
        </button>
    </div>
    <pre class="name">
          GHI
        2 Years
       Shop Name 
    </pre>
</button>
<button class="container6">
    <div class="detail">
        <button class="image" mat-fab>
            <img class = "profile" src="../../assets/profile1.png">
        </button>
    </div>
    <pre class="name">
          OPQ
        4 Years
       Shop Name 
    </pre>
</button>