.navbar{
    background-color: rgb(212, 89, 89);
    color: white;
    font-weight: 800;
    height: 60px;
}

.home{
     color: white;
     margin-right: -900px;
}
.perscription{
    color: white;
    margin-right: 100px;
}
.detail{
   width: 180px;
   height: 120px ;
}
.container1
{
    width: 180px;
    height: 210px;
    background-color: white;
    margin-top: 80px;
    margin-left: 160px;
    
    border-radius: 30px;
}
.container2
{
    width: 180px;
    height: 210px;
    background-color: white;
    margin-top: 80px;
    margin-left: 100px;
    
    border-radius: 30px;
}
.container3
{
    width: 180px;
    height: 210px;
    background-color: white;
    margin-top: 80px;
    margin-left: 100px;
    
    border-radius: 30px;
}
.container4
{
    width: 180px;
    height: 210px;
    background-color: white;
    margin-top:  80px;
    margin-left: 100px;
    
    border-radius: 30px;
}
.container5
{
    width: 180px;
    height: 210px;
    background-color: white;
    margin-top: 80px;
    margin-left:430px;
    
    border-radius: 30px;
}
.container6
{   
    width: 180px;
    height: 210px;
    background-color: white;
    margin-top:  -210px;
    margin-left: 100px;
    
    border-radius: 30px;
}
.container7
{
    width: 180px;
    height: 210px;
    background-color: white;
    margin-top:  -210px;
    margin-left: 840px;
    
    border-radius: 30px;
}
.container8
{
    width: 180px;
    height: 210px;
    background-color: white;
    margin-top: -210px;
    margin-left: 1150px;
    border-radius: 30px;
}
.profile{
    height: 60px;
    width: 60px;
    margin-left: -8px;
    margin-top:-3px;
}
.image{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin-top: 30px;
    margin-right: 20px;
}
.name
{
        margin-right: 30px;
}
.Report
{
    color: white;
    margin-right:-900px;
}