.navbar{
    background-color: rgb(212, 89, 89);
    color: white;
    font-weight: 800;
    height: 60px;
    

}
.navbar-brand{
    margin-left: 25px;
    font-size: 30px;
}
.container{
    margin-top: 20px;
    width:1200px;
    background-color: rgb(228, 220, 209);
    /* background-color: beige; */
}
.signup{
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    color: rgba(33, 84, 114, 0.822);
}
.form-group{
    margin-top: 20px;
   
    margin-left: 10px;
    
}
.form-control{
    margin-top: 25px;
    margin-left: 120px;
    width: 900px;
    height: 50px ;
    font-size: 18px;
    font-weight: 600;
    color: black;
    border-radius: 0%;
    
    
}
.alreadyuser{
    margin-top: 20px;
    margin-left: 850px;
    font-weight: 600;
    font-size: 18px;
}
.btn {
    background-color: rgb(24, 174, 243);
    height: 50px;
    width: 200px;
    margin-top: 20px;
    margin-left: 500px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 0%;
}