<nav class="navbar" >
    <span class="navbar-brand mb-0 h1" >GlowSpark</span>
  </nav>
  
  <div class="container">
   
      
        <form>
          <div class="signup">Sign Up</div>
          <div class="form-group">
    
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
              <input type="text" class="form-control" id="username" placeholder="Enter User Name">
              <input type="number" class="form-control" id="mobileNumber" placeholder="Enter Mobile Number">
              <input type="password" class="form-control" id="password" placeholder="Password">
              <input type="password" class="form-control" id="confirmPassword" placeholder="confirm Password">
          </div>
          <div class="alreadyuser">Already a user? <a routerLink="/login">Login</a>
          </div>
           <button type="submit" class="btn btn-primary"  routerLink="/login">Submit</button>
        </form>
      
    
  </div>