
<nav class="navbar" >
    <span class="navbar-brand mb-0 h1" >GlowSpark</span>
    <a class="home" >Home <span class="sr-only"></span></a>
    <a class="Report" >Report <span class="sr-only"></span></a>
    <a class="perscription" href="#">Logout<span class="sr-only"></span></a>
</nav>
<div class="container">
    <div class="row">
        <div class="col-7 cll ">
            
 <div class="row">
    <div class="col-4">
        <button class="container1">
            <div class="detail">
                <button class="image" mat-fab>
                    <img class = "profile" src="../../assets/profile1.png">
                </button>
            </div>
            <pre class="name" >
                <p style="text-align: center;">user<br>18-02-2021<br>12:00Am</p>
            </pre>
        </button>
    </div >
    <div class="col-4">
        <button class="container1">
            <div class="detail">
                <button class="image" mat-fab>
                    <img class = "profile" src="../../assets/profile1.png">
                </button>
            </div>
            <pre class="name" >
 UserE2
18-02-2021
 12:00AM
            </pre>
        </button>
    </div>
    <div class="col-4">
        <button class="container1">
            <div class="detail">
                <button class="image" mat-fab>
                    <img class = "profile" src="../../assets/profile1.png">
                </button>
            </div>
            <pre class="name" >
  UserE3
18-02-2021
  3:00PM
            </pre>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <button class="container1">
            <div class="detail">
                <button class="image" mat-fab>
                    <img class = "profile" src="../../assets/profile1.png">
                </button>
            </div>
            <pre class="name" >
  UserE4
21-01-2021
 11:00AM
            </pre>
        </button>
    </div>
    <div class="col-4">
        <button class="container1">
            <div class="detail">
                <button class="image" mat-fab>
                    <img class = "profile" src="../../assets/profile1.png">
                </button>
            </div>
            <pre class="name" >
  UserE5
21-03-2021
  02:00PM
            </pre>
        </button>
    </div>
    <div class="col-4">
        <button class="container1">
            <div class="detail">
                <button class="image" mat-fab>
                    <img class = "profile" src="../../assets/profile1.png">
                </button>
            </div>
            <pre class="name" >
  UserE6
21-01-2021
 04:03pm
            </pre>
        </button>
    </div>
</div>
       </div>
       <div class="col-4">
        <div class="table">
<pre >
    <pre class="addupdate">
Add/Update Report
    </pre>
    <button class="img" >
        <img class = "pro" src="../../assets/profile1.png">
    </button>
</pre>
        </div>
       </div>
    </div>
</div>


