.navbar{
    background-color: rgb(212, 89, 89);
    color: white;
    font-weight: 800;
    height: 90px;
    
}
.navbar-brand{
    margin-left: 25px;
    font-size: 30px;
}
.container{
    margin-top: 80px;
    width:1200px;
    background-color: rgb(226, 224, 221);
    /* background-color: beige; */
}
.login{
    font-size: 35px;
    text-align: center;
    
    font-weight: 700;
    margin-top: 10px;
    color: rgba(33, 84, 114, 0.822);
}
.form-group{
   
    padding: 10px;
    margin-left: 10px;
    
}
.form-control{
    margin-top: 20px;
    margin-left: 90px;
    width: 900px;
    height: 60px ;
    font-size: 18px;
    font-weight: 600;
    border-radius: 0%;
    color: dark black;
}
.newuser{
    margin-top: 20px;
    margin-left: 850px;
    font-weight: 600;
    font-size: 18px;
}
.btn {
    background-color: rgb(24, 174, 243);
    height: 60px;
    width: 200px;
    margin-top: 20px;
    margin-left: 500px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 0%;
}